@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --outline-hover:.2rem solid var(--black);
} 
.part_1{
    background-color: #ebe6e6;
}
/* .img_2{
    height: 20rem;
} */
.img_3{
    height: 42.5rem;
}
.img-1:hover{
    outline: var(--outline-hover);
    outline-offset: 0rem;
}
.button{
    width: 250px;
    margin-bottom: 20px;
}
.part_3{
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
}
.content{
    display: inline-block;
}
.btn{
    width: 150px;
}
@media only screen and (max-width: 600px) {
    .img_3 {
        height: auto;
    }
  }
  
  @media only screen and (min-width: 600px) {
    .img_3 {
        height: auto;
    }
  }
  
  @media only screen and (min-width: 768px) {
    .img_3 {
        height: 28rem;
    }
  } 
  
  @media only screen and (min-width: 992px) {
    .img_3 {
        height: 36rem;
    }
  } 
  
  @media only screen and (min-width: 1200px) {
    .img_3 {
        height: 42.5rem;
    }
  }